<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VT Institute</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="vt-card">
    <h1>VT Institute</h1>
    <p class="welcome-text">Welcome, ADMIN</p>
    <a th:href="@{/admin/enroll}" class="btn-container">Enroll student</a> <br/>
    <a th:href="@{/admin/qualify}" class="btn-container">Qualify student</a>
</div>
</body>
</html>