<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h2>My scores</h2>
    <label>Choose a course:</label>
    <select id="courseSelect">
        <option value="">-None-</option>
    </select>

    <table>
        <thead>
        <tr>
            <th>Subject</th>
            <th>Year</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="scoreDto : ${enrollment.scores}">
            <td th:text="${scoreDto.subject.name}">Nombre asignatura</td>
            <td th:text="${enrollment.year}">2026</td>
            <td th:text="${scoreDto.score}">7</td>
        </tr>
        </tbody>
    </table>
</body>
</html>