<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enrollments</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="vt-card1">
<form th:action="@{/admin/qualify}" method="get">
    <h2>Qualify</h2>
        <div class="student-select">
            <label><strong>Choose a student:</strong></label>
            <select name="studentIdCard" onchange="this.form.submit()" required>
                <option th:each="s : ${students}"
                        th:value="${s.idcard}"
                        th:text="${s.lastName + ', ' + s.firstName + ' (' + s.idcard + ')'}">
                </option>

            </select>
        </div>
    <div class="subjects-container">
        <div class="subjects-header">
            <div>SUBJECT</div>
            <div>SCORE</div>
        </div>
        <div class="subject-row" th:each="subject : ${subjects}">
            <div class="subject-name"
                 th:text="${subject.name}">
            </div>
            <select name="scores">
                <option value="">--</option>
                <option th:each="i : ${#numbers.sequence(0,10)}"
                        th:value="${i}"
                        th:text="${i}">
                </option>
            </select>
        </div>
    </div>
        <button class="btn-submit" type="submit">
            Save scores
        </button>
</form>
</div>
</body>
</html>